.centerl
  box-sizing: content-box
  margin-inline: auto
  max-inline-size: var(--centerl-max-width, var(--lc-max-width, 40rem))
  padding-inline: var(--centerl-gap, var(--lc-gap, 1.5rem))

  &[intrinsic]:not([intrinsic='false'])
    display:flex
    flex-direction: column
    align-items: center