.clusterl
  display: flex
  flex-wrap: wrap
  gap: var(--clusterl-gap, var(--lc-gap, 1.5rem))
  justify-content: flex-start
  align-items: center

  &[center]:not([center='false'])
    justify-content: center

  &[end]:not([end='false'])
    justify-content: flex-end

  &[between]:not([between='false'])
    justify-content: space-between

  &[around]:not([around='false'])
    justify-content: space-around

  &[evenly]:not([evenly='false'])
    justify-content: space-evenly

  &[narrow]:not([narrow='false'])
    gap: calc(var(--clusterl-gap, var(--lc-gap, 1.5rem)) * 0.666666667) // ~1rem
  
  &[wide]:not([wide='false'])
    gap: calc(var(--clusterl-gap, var(--lc-gap, 1.5rem)) * 2) // 2rem
